<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Anywhere.cz</title>

    <link href="{$basePath}/style/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" n:href="Homepage:default"><img src="{$basePath}/img/logo.png" alt="Anywhere"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class=""><a n:href="Business:default">Obchodní případy</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Faktury <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">Vydané faktury</a></li>
                    <li><a n:href="ReceivedInvoice:default">Přijaté faktury</a></li>
                    <li><a n:href="ApprovalInvoice:default">Faktury ke schválení</a></li>
                    <li><a n:href="PaidInvoice:default">Faktury k úhradě</a></li>
                </ul>
            </li>
            <li><a n:href="Customer:default">Zákazníci</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reporty <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">Nezaplacené faktury po splatnosti</a>
                    <li><a href="">Nezaplacené faktury před splatností</a>
                    <li><a n:href="Report:company">Přijaté objednávky</a>
                </ul>
            </li>
            <li><a href="">Uživatelé a seznamy</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-top-link" n:href="Sign:out">Odhlásit se</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    </div>
    {include content}
</div>
{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>      
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    <script src="{$basePath}/js/datatable.js"></script>
{/block}
</body>
</html>
