{block content}
<div class="row">
    <div class="col-md-8">
        <h1 n:block="title">Zákazníci</h1>
    </div>
</div>

<div class="row">
    {*{form filterForm}
	{control $form errors}
	<div class="col-xs-2">
	    {input year}
	</div>                            
	<div class="col-xs-2">
	    {input send}
	</div>
    {/form}*}
    <div class="pull-right right" style="margin: 10px;">
        <a n:href="Customer:customerForm" class="btn btn-primary">Založit zákazníka</a>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table id="data-table" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
		<tr>
		    <th class="sorting">Název zákazníka</th>
		    <th class="sorting">Adresa</th>
		    <th class="sorting">Telefon</th>
		    <th class="sorting">E-mail</th>
		    <th class="sorting">Obchodník</th>
		    <th>Akce</th>
		</tr>
            </thead>
            <tbody>
            {foreach $customers as $customer}
                <tr>
                    <td>{$customer->name}</td>
                    <td>{$customer->address->street}, {$customer->address->zip}, {$customer->address->city}</td>
                    <td>{$customer->phone}</td>
                    <td>{$customer->email}</td>
                    <td>{$customer->user->name}</td>
		    <td><a n:href="Customer:edit $customer->id" class="btn btn-default">Editovat</a></td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>