{block content}
<div class="row">
    <h1 n:block="title">Detail zákazníka</h1>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
	{control customerForm}
    </div>
</div>
<script type="text/javascript">
$('#frm-customerForm-ares').click(function () {
    $.get({link checkAres!}, {
	    ico: $('#frm-customerForm-ico').val()
    }, function (payload) {
	    $('#frm-customerForm-address-name').val(payload.company.name);
	    $('#frm-customerForm-dic').val(payload.company.dic);
	    $('#frm-customerForm-address-street').val(payload.company.street);
	    $('#frm-customerForm-address-city').val(payload.company.city);
	    $('#frm-customerForm-address-zip').val(payload.company.zip);
	    $('#frm-customerForm-address-country').val(payload.company.country);
	    if(payload.company.state == 'ok') {
		    $('#frm-customerForm-address-country option').eq('CZ').prop('selected', true);
	    }

	    var message = $('<div class="ares-message">Načtení dat z ARES: '+payload.company.state+'<\/div>');
	    message.insertAfter($('#frm-customerForm-ares'));
    });
    $('.ares-message').hide();
    return false;
});
</script>