{block content}
<div class="row">
    <div class="col-md-8">
        <h1 n:block="title">Obchodní případy</h1>
    </div>
</div>
<div class="row">
    <div class="pull-right right" style="margin: 10px;">
        <a n:href="Business:BusinessCaseForm" class="btn btn-primary">Založit obchodní případ</a>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table id="data-table" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th class="sorting">ID</th>
                <th class="sorting">Jméno případu</th>
                <th class="sorting">Suma</th>
                <th class="sorting">Kategorie</th>
                <th class="sorting">Zákazník</th>
                <th class="sorting">Stav</th>
                <th class="sorting">Založeno</th>
                <th class="sorting">Akce</th>
            </tr>
            </thead>
            <tbody>
            {foreach $cases as $case}
                <tr>
                    <td>{$case['id']}</td>
                    <td>{$case['name']}</td>
                    <td>
			{foreach $case['sum'] as $id => $sum}
			    {$sum|number:0:',':' '} Kč
			{/foreach}
		    </td>
                    <td>{$case['category']['name']}</td>
                    <td>{$case['customer']['name']}</td>
                    <td>{$case['state']}</td>
                    <td>{$case['created']|date:'j.n.Y'}</td>
                    <td>
                        <a n:href="edit $case['id']" class="btn btn-default">Editovat</a>
                        <a n:href="detail $case['id']" class="btn btn-default">Detail</a>
                        <a n:href="delete! $case['id']" class="btn btn-default" onclick="return confirm('Opravdu odstranit tento obchodní případ?')">Smazat</a>
                    </td>
                </tr>
            {/foreach}
            </tbody>
            <tfoot>
            <tr>

            </tr>
            </tfoot>
        </table>
    </div>
</div>