{block content}
<div class="row">
    <h1 n:block="title">Obchodní případ</h1>
</div>
<div class="row">
    {form businessCaseForm}
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

            {control $form errors}
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label business_case_category_id /}{if $form['business_case_category_id']->isRequired()} *{/if}</div>
                <div class="col-sm-7">{input business_case_category_id}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label user_id /}{if $form['user_id']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input user_id}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label name /}{if $form['name']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input name}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label date_created /}{if $form['date_created']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input date_created}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label customer_id /}{if $form['customer_id']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input customer_id}</div>
            </div>

            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label order_number /}{if $form['order_number']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input order_number}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label currency_id /}{if $form['currency_id']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input currency_id}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label due_date /}{if $form['due_date']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input due_date}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label bill_id /}{if $form['bill_id']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input bill_id}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label date_invoice /}{if $form['date_invoice']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input date_invoice}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label date_paid /}{if $form['date_paid']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input date_paid}</div>
            </div>
            <div class="form-group required">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label costs /}{if $form['costs']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input costs}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label note /}{if $form['note']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input note}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label note_to_invoice /}{if $form['note_to_invoice']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7=""
                     col-lg-8="">{input note_to_invoice}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label attachment /}{if $form['attachment']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="" style="padding-top: 6px;">{input attachment}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="" style="padding-top: 6px;">{$form['attachment']->getOption('description')}</div>
            </div>
            <div class="form-group" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label"></div>
            </div>
            <div class="form-group" style="margin-bottom: 5px;">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label storno /}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input storno}</div>
            </div>
            <div class="form-group" style="margin-bottom: 5px;">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label internal_exhibit /}{if $form['internal_exhibit']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input internal_exhibit}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-md-5 col-lg-4 control-label">{label cost_exhibit /}{if $form['cost_exhibit']->isRequired()} *{/if}</div>
                <div class="col-sm-7" col-md-7="" col-lg-8="">{input cost_exhibit}</div>
            </div>
        </div>

        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 itemsForm" id="items">
            {foreach $form['businessCaseItems']->getContainers() as $id => $businessCaseItem}
                <div class="form-group required col-lg-12" style="text-align: center;">
                    <div class="col-sm-2 col-md-2 col-lg-3 control-label item">{label businessCaseItems-$id-name /}</div>
                    <div class="col-sm-2 col-md-2 col-lg-3 control-label item">{label businessCaseItems-$id-price /}</div>
                    <div class="col-sm-2 col-md-2 col-lg-2 control-label item">{label businessCaseItems-$id-amount /}</div>
                    <div class="col-sm-2 col-md-2 col-lg-2 control-label item">{label businessCaseItems-$id-taxes_id /}</div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="clearfix"></div>
                    <div class="col-sm-2 col-md-2 col-lg-3 control-input">{input businessCaseItems-$id-name}</div>
                    <div class="col-sm-2 col-md-2 col-lg-3 control-input">{input businessCaseItems-$id-price}</div>
                    <div class="col-sm-2 col-md-2 col-lg-2 control-input">{input businessCaseItems-$id-amount}</div>
                    <div class="col-sm-2 col-md-2 col-lg-2 control-input">{input businessCaseItems-$id-taxes_id}</div>
                    <div class="col-sm-2 col-md-2 col-lg-2 control-input">{input businessCaseItems-$id-remove}</div>
                </div>
            {/foreach}
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                     style="margin-top: 15px; text-align: center;">{input businessCaseItems-addItem}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1" style="margin-top: 35px; text-align: center;">{input send}</div>
        </div>
    {/form}
</div>
<script type="text/javascript">
    costExhibitShowItems();
    
    $("#frm-businessCaseForm-cost_exhibit").click(function () {
        if ($("#frm-businessCaseForm-cost_exhibit").is(':checked')) {
            $("#items").slideUp();
        } else {
            $("#items").slideDown();
        }
    });
    
    function costExhibitShowItems() {
	if ($("#frm-businessCaseForm-cost_exhibit").is(':checked')) {
            $("#items").slideUp();
        } else {
            $("#items").slideDown();
        }
    }
</script>

