{block content}
<div class="row">
    <h1 n:block="title">Shrnutí obchodního případu</h1>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tbody>
            <tr>
                <td>Kategorie</td>
                <td>{$category->name}</td>
                <td>Zákazník</td>
                <td>{$customer->name}</td>
            </tr>
            <tr>
                <td>Obchodník</td>
                <td>{$seller->name}</td>
                <td>IČO</td>
                <td>{$customer->ico}</td>
            </tr>
            <tr>
                <td>Datum založení</td>
                <td>{$summary->date_created}</td>
                <td>DIČ</td>
                <td>{$customer->dic}</td>
            </tr>
            <tr>
                <td>Měna</td>
                <td>{$currency->name}</td>
                <td>Fakturační adresa</td>
                <td>{$address->street}, {$address->city}, {$address->zip}</td>
            </tr>
            <tr>
                <td>Storno</td>
                <td>{if $summary->storno == true}ANO{else}NE{/if}</td>
                <td>Číšlo objednávky</td>
                <td>{$summary->order_number}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-10 col-md-offset-1 invoice-items">
        <div class="headline" style="">Splatnost faktury</div>
        <div class="col-xs-10 col-xs-offset-1 values" style="font-size: 1.1em;"></div>
        <div class="clearfix"></div>

        <div class="headline" style="margin: 20px 0 10px 0;">Text na fakturu</div>
        <div class="col-xs-10 col-xs-offset-1 values"></div>
        <div class="clearfix"></div>
        {ifset $items}
            <div class="headline" style="margin: 20px 0 10px 0;">Fakturované položky</div>
            <div class="col-sm-3 text-center">Název</div>
            <div class="col-sm-2 text-center">Cena bez daně</div>
            <div class="col-sm-2 text-center">Množství</div>
            <div class="col-sm-2 text-center">Sazba daně</div>
            <div class="clearfix"></div>

            {foreach $items as $item}
                <div style="margin: 5px 0;">
                    <div class="col-sm-3 text-center values">{$item['name']}</div>
                    <div class="col-sm-2 text-center values">{$item['price']}</div>
                    <div class="col-sm-2 text-center values">{$item['amount']}</div>
                    <div class="col-sm-2 text-center values">{$item['taxes_id']}</div>
                </div>
                <div class="clearfix"></div>
            {/foreach}
        {/ifset}
        <div class="clearfix"></div>
        {ifset $sumPrice,$sumPriceVat}
            <div class="com-sm-12 text-center" style="font-size: 1.2em; margin-top:30px;">
            Celkem: {$sumPrice|number:0:',':' '} Kč ({$sumPriceVat|number:0:',':' '} Kč s DPH)</div>{/ifset}
        <div class="clearfix"></div>
        <div class="col-md-10 col-md-offset-1 internal">
            <div class="headline" style="margin-botton: 10px;">Interní údaje:</div>
            <div class="row row-eq-height">
                <div class="col-sm-2 summary-item">Náklady</div>
                <div class="col-sm-10 summary-item values">{$summary->costs}</div>
            </div>
            <div class="clearfix"></div>
            <div class="row row-eq-height">
                <div class="col-sm-2 summary-item">Poznámka</div>
                <div class="col-sm-10 summary-item values">{$summary->note}</div>
            </div>
            <div class="clearfix"></div>
            <div class="row row-eq-height">
                <div class="col-sm-2 summary-item">Souborové přílohy</div>
                {*<div class="col-sm-10 summary-item values">{foreach $files as $file}<a href="">{$file->name}</a><br />{/foreach}</div>*}
            </div>
        </div>
        <div class="clearfix"></div>
	<a n:href="edit $id">Opravit údaje</a>
	<div class="clearfix"></div>
        <a class="btn btn-primary pull-right" n:href="Business:SaveBusinessCase $id, false">Uložit obchodní případ</a>
	<a class="btn btn-primary pull-right" style="margin-right: 10px" n:href="Business:SaveBusinessCase $id, true">Odeslat do Pohody</a>
    </div>
</div>