.navbar-brand {
    padding: 0px !important;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px !important;
    }
}

#seach-wrapper {
    margin-top: 23px;
}

.itemsForm {
    margin-top: 30px;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px 0;
}

.itemsForm .item {
    text-align: center !important;
}

#frm-newSignedUserForm > div:nth-child(1) > div.col-sm-9 > span > span.selection > span > ul > li > input {
    width: 100% !important;
}

#reject-box, #newSign {
    margin-top: 40px;
    padding: 10px 10px 0 10px;
    border: 2px solid #ddd;
    background-color: #eee;
}