{block content}
<div class="row">
    <div class="col-md-8">
        <h1 n:block="title">Přijaté faktury</h1>
    </div>
    {*<div class="form-group col-md-4" id="seach-wrapper" style="display:table;">
	<input class="form-control" id="search-text" name="search" placeholder="Vyhledávání" type="text" autocomplete="off">
	<span class="input-group-addon" onclick="search()" style="cursor: pointer"><i class="glyphicon glyphicon-search"></i></span>
    </div>*}
</div>
<div class="row">
    {form filterForm}
	{control $form errors}
	<div class="col-xs-2">
	    {input year}
	</div>                            
	<div class="col-xs-2">
	    {input send}
	</div>
    {/form}
    <div class="pull-right right" style="margin: 10px;">
        <a n:href="ReceivedInvoice:InvoiceForm" class="btn btn-primary">Založit přijatou fakturu</a>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table id="data-table" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
		<tr>
		    <th class="sorting">ID</th>
		    <th class="sorting">Číslo</th>
		    <th class="sorting">Datum přijetí</th>
		    <th class="sorting">Splatnost</th>
		    <th class="sorting">VS</th>
		    <th class="sorting">Dodavatel</th>
		    <th class="sorting">Částka</th>
		    <th class="sorting">Stav</th>
		    <th class="sorting">Akce</th>
		</tr>
            </thead>
            <tbody>
            {foreach $received_invoices as $invoice}
                <tr>
                    <td>{$invoice->id}</td>
                    <td>{$invoice->number}</td>
                    <td>{$invoice->receive_date|date:'Y-m-d'}</td>
                    <td>{$invoice->due_date|date:'Y-m-d'}</td>
                    <td>{$invoice->variable_symbol}</td>
                    <td>{$invoice->customer->name}</td>
                    <td>{$invoice->amount}</td>
                    <td>{$invoice->state}</td>
                    <td>
                        <a n:href="edit $invoice->id" class="btn btn-default">Editovat</a>
                        <a n:href="detail $invoice->id" class="btn btn-default">Detail</a>
                        {if $invoice->state == 'Schváleno'}
                            <a n:href="command $invoice->id" class="btn btn-default">Příkaz</a>
                        {/if}
                        <a n:href="delete! $invoice->id" class="btn btn-default" onclick="return confirm('Opravdu odstranit tuto přijatou fakturu?')">Smazat</a>
                    </td>
                </tr>
            {/foreach}
            </tbody>
            <tfoot>
            <tr>

            </tr>
            </tfoot>
        </table>
    </div>
</div>