{block content}
<div class="row">
    <h1 n:block="title">Přijatá faktura</h1>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tbody>
            <tr>
                <td>Stav</td>
                <td>{$detail->state}</td>
                <td>Zákazník</td>
                <td>{$customer->name}</td>
            </tr>
            <tr>
                <td>Datum přijetí faktury</td>
                <td>{$detail->receive_date|date:'d.m.Y'}</td>
                <td>IČ</td>
                <td>{$customer->ico}</td>
            </tr>
            <tr>
                <td>Zadal / Editoval</td>
                <td>{$created->name}</td>
                <td>Číslo faktury</td>
                <td>{$detail->invoice_number}</td>
            </tr>
            <tr>
                <td>Zpracováno dne</td>
                <td></td>
                <td>VS</td>
                <td>{$detail->variable_symbol}</td>
            </tr>
            <tr>
                <td>Schváleno k příkazu</td>
                <td></td>
                <td>Měna faktury</td>
                <td>{$currency->name}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>Předmět fakturace</p>
    <span>{$detail->subject}</span>
    <p>Soubory faktury:
        {if $file}
            <a n:href="download $file">Faktura ke stažení</a>
        {else}
            Není k dispozici
        {/if}
    </p>
    <span>Částka k úhradě: {$detail->amount} Kč</span>
    <hr>
    <span>Schvaluje: {$approve->name}</span>
    <br/>
    <row>
        <a class="btn btn-primary" n:href="default">Zpět na přehled přijatých faktur</a>
        {if $user->id === $detail->approve_user_id && !$detail->approved && !$detail->reject}
            <a class="btn btn-primary pull-right" n:href="ApprovalInvoice:approve $detail->id">Schválit</a>
            <a id="reject" class="btn btn-primary pull-right" href="#reject" style="margin-right: 5px">Odmítnout</a>
            <a id="change-sign" class="btn btn-primary pull-right" href="#change-sign" style="margin-right: 5px">Není
                pro mě</a>
            <div id="reject-box">
                {control rejectInvoiceForm}
            </div>

            <div id="newSign">
                {control newSignedUserForm}
            </div>
        {/if}
    </row>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#reject-box').hide();
        $('#newSign').hide();

        $('#reject').click(function () {
            if ($('#newSign').is(':visible')) {
                $('#newSign').hide();
            }
            $('#reject-box').toggle();
        });

        $('#change-sign').click(function () {
            if ($('#reject-box').is(':visible')) {
                $('#reject-box').hide();
            }
            $('#newSign').toggle();
        });
    });
</script>
	
