{block content}
<div class="row">
    <h1 n:block="title">Shrnutí přijaté faktury</h1>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tbody>
            <tr>
                <td>Stav</td>
                <td>{ifset $summaryInvoice->state}{$summaryInvoice->state}{/ifset}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Datum přijetí faktury</td>
                <td>{$summaryInvoice['receive_date']|date:'d.m.Y'}</td>
                <td>Zákazník</td>
                <td>{$customer->name}</td>
            </tr>
            <tr>
                <td>Zadal / Editoval</td>
                <td>{ifset $created->name}{$created->name}{/ifset}</td>
                <td>IČO</td>
                <td>{$customer->ico}</td>
            </tr>
            <tr>
                <td>Číslo faktury</td>
                <td>{$summaryInvoice['invoice_number']}</td>
                <td>DIČ</td>
                <td>{$customer->dic}</td>
            </tr>
            <tr>
                <td>Zpracováno dne</td>
                <td></td>
                <td>VS</td>
                <td>{$summaryInvoice['variable_symbol']}</td>
            </tr>
            <tr>
                <td>Schváleno k příkazu</td>
                <td></td>
                <td>Měna faktury</td>
                <td>{$currency->name}</td>
            </tr>
            </tbody>
        </table>
        <p>Předmět fakturace</p>
        <span>{$summaryInvoice['subject']}</span>
        <p>Soubory faktury:
            {if $file}
                <a n:href="download $file">Faktura ke stažení</a>
            {else}
                Není k dispozici
            {/if}
        </p>
        <span>Částka k úhradě: {$summaryInvoice['amount']} Kč</span>
        <hr>
        <span>Schvaluje: {$approve->name}</span>
        <br/>
    </div>
    <a n:href="edit $id">Opravit údaje</a>
    <br/>
    <a n:href="save $id">Uložit přijatou fakturu</a>
    <br/>
</div>