{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>
<dat:dataPack id="{$customer['id']}" ico="{$customer['ico-anywhere']}" application="Anywhere-Nela" version = "2.0" note="Import adres" 
xmlns:dat="http://www.stormware.cz/schema/version_2/data.xsd" 
xmlns:adb="http://www.stormware.cz/schema/version_2/addressbook.xsd"
xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"  
xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd">

<dat:dataPackItem id="{$customer['id']}" version="2.0">
	<adb:addressbook version="2.0">		
		<adb:actionType>
			{*<!--aktualizacni import Adresy-->*}
			<adb:add update="true">
				{*<!--filtr pro vyhledani zaznamu-->*}
				<ftr:filter>
					<ftr:extId>
						<typ:ids>{$customer['id']}</typ:ids>
						<typ:exSystemName>Anywhere-Nela</typ:exSystemName>
					</ftr:extId>  
				</ftr:filter>		  
			</adb:add>
		</adb:actionType>
		<adb:addressbookHeader>
			<adb:identity>
				<typ:extId>
				  <typ:ids>{$customer['id']}</typ:ids>
				  <typ:exSystemName>Anywhere-Nela</typ:exSystemName>
				  <typ:exSystemText>informační systém</typ:exSystemText>
				</typ:extId>
				<typ:address>
					{*<!--pro pouziti specialinich znaku je nutne pouzit sekci [CDATA[]]-->*}
					<typ:company><![CDATA[{$address['name']}]]></typ:company> 
					<typ:city>{$address['city']}</typ:city> 
					<typ:street>{$address['street']}</typ:street> 
					<typ:zip>{$address['zip']}</typ:zip> 
					<typ:country>
						<typ:ids>{$address['country']}</typ:ids>
					</typ:country>
					<typ:ico>{$customer['ico']}</typ:ico> 
					<typ:dic>{$customer['dic']}</typ:dic>
				</typ:address>				
			</adb:identity>
			<adb:phone>{$customer['phone']}</adb:phone>
			<adb:email>{$customer['email']}</adb:email>
			<adb:web>{$customer['www']}</adb:web>
		</adb:addressbookHeader>
	</adb:addressbook>	
</dat:dataPackItem>
</dat:dataPack>
