{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>
<dat:dataPack id="{$order['id']}" ico="{$order['ico']}" application="Anywhere-Nela" version = "2.0" note="Import Objednávky"
	xmlns:dat="http://www.stormware.cz/schema/version_2/data.xsd"        
	xmlns:ord="http://www.stormware.cz/schema/version_2/order.xsd"		         
	xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd">

<dat:dataPackItem id="{$order['id']}" version="2.0">
		<ord:order version="2.0">
			{*<!--header information of order-->*}
			<ord:orderHeader>
				<ord:orderType>receivedOrder</ord:orderType>			
				<ord:number>
					<typ:numberRequested>{$order['id']}</typ:numberRequested>
				</ord:number>
				<ord:numberOrder>{$order['order_number']}</ord:numberOrder>
				<ord:date>{$order['date_created']|date:'Y-m-d'}</ord:date>
				<ord:text>{$order['note_to_invoice']}</ord:text>
				<ord:partnerIdentity>
					<typ:extId>
						<typ:ids>{$order['customer_id']}</typ:ids>
						<typ:exSystemName>Anywhere-Nela</typ:exSystemName>
					</typ:extId>
				</ord:partnerIdentity>
				
				
				{*<ord:parameters>
					{if $order['period_from']}
					<typ:parameter>
						<typ:name>VPrDatOd</typ:name>
						<typ:datetimeValue>{$order['period_from']|date:'Y-m-d'}</typ:datetimeValue>
					</typ:parameter>
					<typ:parameter>
						<typ:name>VPrDatDo</typ:name>
						<typ:datetimeValue>{$order['period_to']|date:'Y-m-d'}</typ:datetimeValue>
					</typ:parameter>
					{/if}
					<typ:parameter>
						<typ:name>VPrSplatnost</typ:name>
						<typ:datetimeValue>{$order['due_date']|date:'Y-m-d'}</typ:datetimeValue>
					</typ:parameter>
					{if $order['adam_id']}
					<typ:parameter>
						<typ:name>VPrDatADAM</typ:name>
						<typ:datetimeValue>{$order['date_created']|date:'Y-m-d'}</typ:datetimeValue>
					</typ:parameter>						
					{/if}
				</ord:parameters>*}
				
			</ord:orderHeader>
			
			<ord:orderDetail>
      
				{foreach $order['items'] as $item}
				{*<!--items of order-->*}
				<ord:orderItem>
					<ord:text>{$item->name}</ord:text>
					<ord:quantity>{$item->amount}</ord:quantity>
					<ord:rateVAT>{if $item->taxes_id == "21%"}high{elseif $item->taxes_id == "15%"}low{elseif $item->taxes_id == "10%"}third{else}none{/if}</ord:rateVAT>
					{if $order['currency'] == "CZK"}
					<ord:homeCurrency>
						<typ:unitPrice>{$item->price}</typ:unitPrice>
					</ord:homeCurrency>
					{else}
					<ord:foreignCurrency>
						<typ:unitPrice>{$item->price}</typ:unitPrice>
					</ord:foreignCurrency>
					{/if}
				</ord:orderItem>
				{/foreach}
 
			</ord:orderDetail>
				
			<ord:orderSummary>
				<ord:roundingDocument>math2one</ord:roundingDocument>
				{if $order['currency'] != "CZK"}
				<ord:foreignCurrency>
					<typ:currency>
						<typ:ids>{$order['currency']}</typ:ids>
					</typ:currency>
					<typ:amount>1</typ:amount>
				</ord:foreignCurrency>
				{/if}
			</ord:orderSummary>

		</ord:order>
	</dat:dataPackItem>
</dat:dataPack>