{block content}
<div class="row">
    <h1 n:block="title">Faktury k úhradě</h1>
</div>
<div class="row">
    <div class="table-responsive">
        <table id="data-table" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Číslo</th>
                <th>Datum přijetí</th>
                <th>Splatnost</th>
                <th>VS</th>
                <th>Dodavatel</th>
                <th>Částka</th>
                <th>Stav</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            {foreach $invoices as $invoice}
                <tr>
                    <td>{$invoice->id}</td>
                    <td>{$invoice->number}</td>
                    <td>{$invoice->receive_date|date:'Y-m-d'}</td>
                    <td>{$invoice->due_date|date:'Y-m-d'}</td>
                    <td>{$invoice->variable_symbol}</td>
                    <td>{$invoice->customer->name}</td>
                    <td>{$invoice->amount}</td>
                    <td>{$invoice->state}</td>
                    <td>
			<a n:href="ReceivedInvoice:detail $invoice->id" class="btn btn-default">Detail</a>
			<a n:href="pay $invoice->id" class="btn btn-default">Uhradit</a>
                    </td>
                </tr>
            {/foreach}
            </tbody>
            <tfoot>
            <tr>

            </tr>
            </tfoot>

        </table>
    </div>
</div>
